#banner{
    width: 500px;
    height: 100px;
    display: block;
    margin: auto;
}

#inout{
    position: absolute;
    padding: 15px;
    border: 1px dashed black;
    cursor: pointer;
    right: 0;
    top: 0;   
}