ul{
    display: flex;
    height: 100%;
    align-items: center;
    margin: auto;
}

li{
    margin-left:10px;
    margin-right:10px;
    outline: none;
    cursor: pointer;
}

li:hover{
    color: white;
}

.login{
    margin-left: auto;
}