<div class="container">
    <div class="form-block">
    <form [formGroup]="form">
        <div class=fieldset>
            <label>Liczba osób</label>
            <input type="number" 
                formControlName="numberOfPeople"
                value="0" 
                max="{{ trip ? trip.availableNumberOfPlaces : 99999}}"
                min="0"  />  
        </div>
        <div class="butons">
            <button class="but1" (click)="save()">Rezerwuj</button>
            <button class="but2" (click)="close()">Anuluj</button>
        </div>
     
    </form>
  </div>
</div>
