<div class="container">
    <div class="form-block">
    <form [formGroup]="form">
        <div class=fieldset>
            <label>Ile osób</label>
            <input type="number" 
                formControlName="numberOfPeople"
                value="0" 
                max="{{ trip ? trip.availableNumberOfPlaces : 99999}}"
                min="0"  />  
        </div>
        <button class="but1" (click)="save()">Save</button>
        <button class="but2" (click)="close()">Close</button>
    </form>
  </div>
</div>
