################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/PJATK.TravelAgency/PJATK.TravelAgency.WebApi/obj/Debug
/backend/PJATK.TravelAgency/.vs
/backend/PJATK.TravelAgency/packages
/backend/PJATK.TravelAgency/PJATK.TravelAgency.WebApi/obj/Release/TransformWebConfig/transformed/Web.config
/backend/PJATK.TravelAgency/PJATK.TravelAgency.WebApi/obj/Release/TransformWebConfig/original/Web.config
/backend/PJATK.TravelAgency/PJATK.TravelAgency.WebApi/obj/Release/CSAutoParameterize/original/Web.config

