<div class='form-login-wrapper'>
  <form [formGroup]="loginForm">
    <h2>Logowanie</h2>
    <div>
        <div>
            <label for="email">Email</label>
            <input type="text" placeholder="email@example.com" formControlName="email"  />
        </div>
        <div>
            <label for="password">Haslo</label>
            <input type="password" placeholder="*****" formControlName="password" />
        </div>
    </div>
    <div >
        <button (click)="login()">Zaloguj się</button>
    </div>
  </form>

  <div class="sign-up" routerLink="/registration-user">Rejestracja</div>
  
</div>