<div class='form-login-wrapper'>
  <form [formGroup]="loginForm">
    <h2>Logowanie</h2>
    <div *ngIf="isLogin==false">
        <div>
            <label for="email">Email</label>
            <input type="text" placeholder="email@example.com" formControlName="email"  />
        </div>
        <div>
            <label for="password">Haslo</label>
            <input type="password" placeholder="*****" formControlName="password" />
        </div>
    </div>
    <div *ngIf="isLogin==false">
        <button (click)="login()">Zaloguj się</button>
    </div>
    <div *ngIf=isLogin>
        <button (click)="logout()">Wyloguj się</button>
    </div>
  </form>
</div>