<div class="container">

    <div class="filters-block">
      Filtry... <br>
      obecnie brak
    </div>


    <div  class="results-block">
      <div *ngFor="let trip of trips" class="offer-block">
    
        <div class="offer-image">
          <img src="./assets/city_image_example_cracow.png"/>
        </div>
        
        <div class="offer-data">
        
          <div class="data-info">
            <h2>
              {{trip.describe}}
            </h2>
            <h3>
              <span>Termin:</span> <span> {{trip.departureDate | date:'dd.MM.yyyy' }}-{{trip.arrivalDate | date:'dd.MM.yyyy' }}</span>
            </h3>
            <h4>
              <span>Cena:</span> <span> {{trip.price}}zł</span>
            </h4>
            <h5>
              <span>Oceny:</span> <span> BRAK W MODELU </span>
            </h5>
          </div>
          
          <div class="data-submit">
            <button>Zamawiam</button>
          </div>
        
        </div>

      </div>
    </div>


</div>