.container{
    display: flex;
    flex-direction: row;
    padding: 5px;

    @media screen and(max-width: 780px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .filters-block{
            margin-bottom: 15px;
        }
    }

    .filters-block{
        color: #46515e;
        flex-basis: 30%;
    }

    .results-block{
        color: #46515e;
        flex-basis: 70%;
        
        .offer-block{
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .offer-image{
                img{
                    width: 250px;
                    height: 230px;    
                }
            }

            .offer-data{
                height: 230px;
                display: flex;
                flex-direction: column;
                align-content: space-between;
                justify-content: space-between;

                @media screen and(max-width: 780px){
                    height: auto;
                    margin-bottom: 5px;
                }

                .data-info{
                    margin: 0 10px 0 10px;
                    h2{
                        font-size: 26px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    h3,h4,h5{
                        font-size: 18px;
                    }
                }
                
                .data-submit{
                    button{
                        background: #f47c48;
                        display: block;
                        border-radius: 5px;
                        border: none;
                        box-shadow: none;
                        color: #fff;
                        font-size: 18px;
                        line-height: 35px;
                        width: 150px;
                        text-align: center;
                        box-sizing: border-box;
                        border: 1px solid #f47c48;
                        cursor: pointer;
                        transition-property: color, border, background-color;
                        transition-duration: .2s;
                        transition-timing-function: ease-in-out;
                        margin: 10px;
                    }

                    button:hover{
                        border: 1px solid #f47c48;
                        color: #f47c48;
                        background-color: #fff;
                    }
                
                }
            }

            @media screen and(max-width: 780px){
                flex-direction: column;
                width: 250px;
                justify-content: center;
                align-items: center;
                

                .offer-data{
                    align-content: flex-start;
                    justify-content: flex-start;

                    .data-info{
                        margin: 0;
                        h2{
                            margin-bottom: 10px;
                        }
                    }
                    
                    .data-submit{
                        button{
                            margin: 10px auto 0 auto;
                        }
                    }
                }
            }
        }
    }   
}