<div class="container">

    <div class="filters-block">
      <form [formGroup]="searchForm">
        <h2>Filtruj po:</h2>

        <div class=fieldset>
            <label for="where_Name">Nazwa wycieczki</label>
            <input type="text" name="where_Name" required placeholder="np. wycieczka" formControlName="where_Name" />  
          </div>

        <div class=fieldset>
            <label for="where_Date">Data </label>
            <input type="date" name="where_Date" required placeholder="Data" formControlName="where_Date" />
          </div>
          
          <div class=fieldset>
            <label for="where_City">Dokąd</label>
            <input type="text" name="where_City" required placeholder="np. Zakopane" formControlName="where_City" />  
          </div>

          <div class=fieldset>
            <label for="where_DeparturePlace">Skąd</label>
            <input type="text" name="where_DeparturePlace" required placeholder="np. Warszawa" formControlName="where_DeparturePlace" />  
          </div>

          <div class=fieldset>
            <label for="where_Price">Cena</label>
            <input type="number" name="where_Price" required placeholder="np. 500" formControlName="where_Price" />  
          </div>
          
    
          <div class=fieldset>
            <label for="where_AvaiableNumberOfPlaces">Osoby</label>
            <select name="where_AvaiableNumberOfPlaces" required formControlName="where_AvaiableNumberOfPlaces">
              <option selected="selected">0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          
          <div class=fieldset>
            <button type="submit" (onclick)="triggerSearch()">Wyszukaj</button>
          </div>
        
      </form>
    </div>


    <div  class="results-block">
      <div *ngFor="let trip of trips" class="offer-block">
    
        <div class="offer-image">
          <img src="./assets/city_image_example_cracow.png"/>
        </div>
        
        <div class="offer-data">
        
          <div class="data-info">
            <h2>
              {{trip.name}}
            </h2>
            
            <h3>
              <span>Termin:</span> <span> {{trip.departureDate | date:'dd.MM.yyyy' }}-{{trip.arrivalDate | date:'dd.MM.yyyy' }}</span>
            </h3>
            
            <h4>
              <span>Cena:</span> <strong style="font-weight: bold;"> {{trip.price}}zł</strong>
            </h4>

            <h5 *ngIf="trip.averageRating">
              <span>Oceny:</span> <strong style="font-weight: bold;"> {{trip.averageRating | number : '1.2' }} </strong>
            </h5>
            
            <h5><br>
              <span>Opis:</span> <span  style="white-space: pre-line;"> 
                {{ trip.describe | truncate: 70 }}
              </span>
            </h5>
          </div>


          
          <div class="data-submit">
            <button (click)="getDetailTrip(trip)">Szczegóły</button>
          </div>
        
        </div>

      </div>
    </div>


</div>