
.filters-block-wrapper{
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    font-family: "Lato", sans-serif;
    color: #46515e;
    font-size: 18px;
}
.results-block-wrapper{
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    font-family: "Lato", sans-serif;
    color: #46515e;
    font-size: 18px;
}

.offer-block{
    display: block;
    width: 100%;
    margin-bottom: 35px;
}
.offer-block--image{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
.offer-block--image img{
    width: 100%;
    height: auto;
}
.offer-block--data{
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    width: 70%;
    box-sizing: border-box;
}
.offer-block--title{
    font-size: 36px;
    margin-bottom: 10px;
}
.offer-block--price{}
.offer-block--rating{}
.offer-block--date{}
.offer-block--order{
    background: #f47c48;
    display: block;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    margin-left: 0px;
    margin-right: 0px;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #f47c48;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    margin-top: 20px;
}

.offer-block--order:hover{
    border: 1px solid #f47c48;
    color: #f47c48;
    background: #fff;
}
