@import './reset.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.snackbar-thema {
    background: white;
    color: black;
    font-family: "Lato", sans-serif;   
    border: 1px groove #E78250;
    border-radius: 15%;


    button{
        color: white;
        background: #E78250;
    }
}

html,body {
    width: 100%;
    height: 100%;
}

