<div class="container">
  <div class="block" id="input-block">
    <form>
      <h2>Wyszukaj wycieczke</h2>
      <div class=fieldset>
        <label for="date_when">Kiedy</label>
        <input type="date" name="date_when" required placeholder="Data" />
      </div>
      
      <div class=fieldset>
        <label for="end_place">Dokąd</label>
        <input type="text" name="end_place" required placeholder="np. Majorka" />  
      </div>

      <div class=fieldset>
        <label for="start_place">Skąd</label>
        <input type="text" name="start_place" required placeholder="np. Warszawa"/>
      </div>

      <div class=fieldset>
        <label for="amount">Osoby</label>
        <select name="amount" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      
      <div class=fieldset>
        <button type="submit">Wyszukaj</button>
      </div>
    </form>
  </div>


  <div *ngFor="let trip of promotedTrips" id="trip-block" class="block">
    <h2>{{trip.name}}</h2>
    <img src="./assets/city_image_example_cracow.png">
    <div class="data-block">
      <div class="info-block">
          <h4>Już od {{trip.price}}zł</h4>
      </div>
      <div class="submit-block">
          <button (click)="getDetailTrip(trip)">Zobacz oferte</button>
      </div>
    </div>
  </div>

</div>